@import "tailwindcss";

@theme {
  /* Core Colors */
  --color-brand-primary: #4d9691;
  --color-brand-secondary: #a3c6c1;
  --color-brand-accent-1: #e8b763;

  /* Additional Accents & Data */
  --color-brand-accent-2: #34b476;
  --color-brand-accent-3: #d4a5a5;
  --color-brand-warning: #b45454;
  --color-brand-success: #5d905e;

  /* Neutrals & Text */
  --color-brand-neutral-light: #f8f8f4;
  --color-brand-neutral-dark: #2c3e50;
  --color-brand-neutral-darker: #1a1d2d;
  --color-brand-depth: #c7dde3;

  --color-brand-positive: oklch(69.6% 0.17 162.48); /* Tailwind emerald-600 */
  --color-brand-positive-lighter: oklch(
    76.5% 0.177 163.223
  ); /* Tailwind emerald-400 */
  --color-brand-negative: oklch(70.4% 0.191 22.216); /* Tailwind red-600 */
}

/* --- Light Mode --- */
body {
  background-color: var(--color-brand-neutral-light);
  color: var(--color-brand-neutral-dark);
}
