@import "tailwindcss";

@theme {
  /* Core Colors */
  --color-brand-primary: #4d9691;
  --color-brand-secondary: #a3c6c1;
  --color-brand-accent-1: #e8b763;

  /* Additional Accents & Data */
  --color-brand-accent-2: #34b476;
  --color-brand-accent-3: #d4a5a5;
  --color-brand-warning: #b45454;
  --color-brand-success: #5d905e;

  /* Neutrals & Text */
  --color-brand-neutral-light: #f8f8f4;
  --color-brand-neutral-dark: #2c3e50;
  --color-brand-depth: #c7dde3;
}

/* --- Light Mode --- */
body {
  background-color: var(--color-brand-neutral-light);
  color: var(--color-brand-neutral-dark);
}
